:root{
    --back-clr: #a21caf;
    --fnt-clr:#fdf4ff;
}



body{
    margin:0;
    padding: 0;
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(350px, 1.5fr) 5fr;
    font-family:'Roboto', sans-serif;
}

.sidebar{
    display: grid;
    grid-template-rows: 100px 350px 350px;
    padding: 4%;
    background-color: var(--back-clr);
    color: var(--fnt-clr);
    gap:6%;
}


.logo{
    display: flex;
    gap: 5%;
    align-items: center;
    font-size: 20px;        
}
.logo-icon{
    height: 100px;
    width: auto;  
    filter:invert(1);
}
.menu-1, .menu-2{
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 4%;
    font-size: 28px;
    font-weight: 700;
}

.icons{
    height: 40px;
    width: auto;
    filter: invert(1);
}
.menu-1 > *, .menu-2 > *{
    display:flex;
    align-items:end;
    gap:40px;
}

.rightside{
    display: grid;
    grid-template-rows: 1fr 5fr;
    padding: 2%;
}


.header{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 3fr 4fr;
}

.greeting{
    display: flex;
    flex-direction: column      ;
}

.header-icons{
    height: 40px;
    width: auto;
}

.header > div{
    display: flex;
}

.top-left, .top-right{
    gap:3%;
    align-items: center;
}
.searchbar{
    flex:1;
}
.searchbar > input{
    background-color:rgba(183, 182, 182, 0.532);
    border-radius: 30px;
    width: 90%;
    height: 50px;
    border: none;
}

.top-right{
    justify-content: center;
    gap:10%;
}

.pr-icon{
    height: 60px;
    width: auto;
}